<div>
  <h2 id="page-heading" data-cy="OrderContentHeading">
    <span jhiTranslate="coopCycleApp.orderContent.home.title">Order Contents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopCycleApp.orderContent.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-order-content"
        [routerLink]="['/order-content/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopCycleApp.orderContent.home.createLabel"> Create a new Order Content </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="orderContents?.length === 0">
    <span jhiTranslate="coopCycleApp.orderContent.home.notFound">No orderContents found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="orderContents && orderContents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.orderContent.idProduct">Id Product</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.orderContent.idOrder">Id Order</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.orderContent.quantityAsked">Quantity Asked</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.orderContent.productAvailable">Product Available</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.orderContent.product">Product</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.orderContent.order">Order</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orderContent of orderContents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/order-content', orderContent.id, 'view']">{{ orderContent.id }}</a>
          </td>
          <td>{{ orderContent.idProduct }}</td>
          <td>{{ orderContent.idOrder }}</td>
          <td>{{ orderContent.quantityAsked }}</td>
          <td>{{ orderContent.productAvailable }}</td>
          <td>
            <span *ngFor="let product of orderContent.products; let last = last">
              <a class="form-control-static" [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="orderContent.order">
              <a [routerLink]="['/order', orderContent.order?.id, 'view']">{{ orderContent.order?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/order-content', orderContent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/order-content', orderContent.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(orderContent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
