<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="orderContent">
      <h2 data-cy="orderContentDetailsHeading"><span jhiTranslate="coopCycleApp.orderContent.detail.title">Order Content</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ orderContent.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.orderContent.idProduct">Id Product</span></dt>
        <dd>
          <span>{{ orderContent.idProduct }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.orderContent.idOrder">Id Order</span></dt>
        <dd>
          <span>{{ orderContent.idOrder }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.orderContent.quantityAsked">Quantity Asked</span></dt>
        <dd>
          <span>{{ orderContent.quantityAsked }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.orderContent.productAvailable">Product Available</span></dt>
        <dd>
          <span>{{ orderContent.productAvailable }}</span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.orderContent.product">Product</span></dt>
        <dd>
          <span *ngFor="let product of orderContent.products; let last = last">
            <a [routerLink]="['/product', product?.id, 'view']">{{ product.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="coopCycleApp.orderContent.order">Order</span></dt>
        <dd>
          <div *ngIf="orderContent.order">
            <a [routerLink]="['/order', orderContent.order?.id, 'view']">{{ orderContent.order?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/order-content', orderContent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
