<div>
  <h2 id="page-heading" data-cy="DelivererHeading">
    <span jhiTranslate="coopCycleApp.deliverer.home.title">Deliverers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopCycleApp.deliverer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-deliverer"
        [routerLink]="['/deliverer/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopCycleApp.deliverer.home.createLabel"> Create a new Deliverer </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="deliverers?.length === 0">
    <span jhiTranslate="coopCycleApp.deliverer.home.notFound">No deliverers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="deliverers && deliverers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.idDelivrer">Id Delivrer</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.idCooperative">Id Cooperative</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.name">Name</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.surname">Surname</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.telephone">Telephone</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.latitude">Latitude</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.longitude">Longitude</span></th>
          <th scope="col"><span jhiTranslate="coopCycleApp.deliverer.cooperative">Cooperative</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let deliverer of deliverers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/deliverer', deliverer.id, 'view']">{{ deliverer.id }}</a>
          </td>
          <td>{{ deliverer.idDelivrer }}</td>
          <td>{{ deliverer.idCooperative }}</td>
          <td>{{ deliverer.name }}</td>
          <td>{{ deliverer.surname }}</td>
          <td>{{ deliverer.telephone }}</td>
          <td>{{ deliverer.latitude }}</td>
          <td>{{ deliverer.longitude }}</td>
          <td>
            <div *ngIf="deliverer.cooperative">
              <a [routerLink]="['/cooperative', deliverer.cooperative?.id, 'view']">{{ deliverer.cooperative?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/deliverer', deliverer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/deliverer', deliverer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(deliverer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
